.container-1,
.container-2,
.container-3,
.container-4 {
  border: 5px solid black;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
.flex-box-container-1,
.flex-box-container-2,
.flex-box-rps,
.flex-box-pick-color {
  display: flex;
  border: 8px solid rgb(4, 150, 41);
  padding: 8px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
}
.flex-box-container-1 div {
  display: flex;
  padding: 15px;
  border: 0.2pc solid brown;
  align-items: center;
}
.flex-box-container-2 img,
.flex-box-rps img:hover {
  border: 5px solid black;
  margin: 5;
  padding: 9px;
  box-shadow: 0px 10px 50px rgba(204, 43, 29);
}
